<div class="mx-5 m-5" style="background-color: rgb(216, 216, 216);">
    <h2 class="text-danger p-3 text-center">Featured Author</h2>
    <div class="container">
        <div class="d-flex overflow-auto">
            <div class="m-2">
                <img src="https://www.bookswagon.com/authorimages/dillian.jpg" height="250px" alt="">
            </div>
            <div class="m-2">
                <img src="https://www.bookswagon.com/authorimages/gayle-forman.jpg" height="250px" alt="">
            </div>
            <div class="m-2">
                <img src="https://www.bookswagon.com/authorimages/ma10_milestones_segal.jpg" height="250px" alt="">
            </div>
            <div class="m-2">
                <img src="https://www.bookswagon.com/authorimages/sylvia2.jpg" height="250px" alt="">
            </div>
            <div class="m-2">
                <img src="https://www.bookswagon.com/authorimages/dr-shashi-tharoor-2.jpg" height="250px" alt="">
            </div>
            <div class="m-2">
                <img src="https://www.bookswagon.com/authorimages/arundhatistory_647_100316054702.jpg" height="250px"
                    alt="">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row mx-5 p-4">
        <div class="col-6 col-md-3">
            <b class="text-danger">Company</b>
            <div>About Us</div>
            <div>Career</div>
            <div>Blog</div>
            <div>YT Featured Video</div>
            <div>Contact Us</div>
        </div>
        <div class="col-6 col-md-3">
            <b class="text-danger">Policies</b>
            <div>Privacy Policies</div>
            <div>Terms of Use</div>
            <div>Secure Shopping</div>
            <div>Copyright Policy</div>
        </div>
        <div class="col-6 col-md-3">
            <b class="text-danger">Help</b>
            <div>Payment</div>
            <div>Shipping</div>
            <div>Return</div>
            <div>FAQ</div>
        </div>
        <div class="col-6 col-md-3">
            <b class="text-danger">Misc</b>
            <div>Affiliate</div>
            <div>Sitemap</div>
            <div class="mt-2">
                <b class="text-danger">Download Our App</b>
            </div>
            <img src="https://www.bookswagon.com/images/googleplay.png" height="35px" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="m-3 text-center" style="color: rgb(62, 62, 248); font-size: 25px;"><i class="bi bi-facebook"></i></div>
        <div class="m-3 text-center" style="font-size: 25px;"><i class="bi bi-twitter-x"></i></div>
        <div class="m-3 text-center" style="color: rgb(28, 113, 224); font-size: 25px;"><i class="bi bi-linkedin"></i></div>
        <div class="m-3 text-center" style="color: rgb(226, 17, 17); font-size: 25px;"><i class="bi bi-pinterest"></i></div>
        <div class="m-3 text-center text-danger" style="font-size: 25px;"><i class="bi bi-youtube"></i></div>
        <div class="m-3 text-center" style="color: rgb(240, 36, 70); font-size: 25px;"><i class="bi bi-instagram"></i></div>
    </div>
</div>
